<div class="border">
  <button class="btn btn-md btn-outline-primary" (click)="open(content)">
    <i class="fa fa-user"></i>Find out what others in your mood are listening to ?</button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enter Mood</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="mood">Mood</label>
        <div class="input-group">
          <input id="mood" name="mood" class="form-control" ngModel>
        </div>
      </div>
<!--      <div class="form-group">-->
<!--        <label for="fitevent">Event(*)</label>-->
<!--        <div class="input-group">-->
<!--          <input id="fitevent" name="fitevent" class="form-control" ngModel>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="playlist">Playlist(*)</label>-->
<!--        <div class="input-group">-->
<!--          <input id="playlist" name="playlist" class="form-control" ngModel>-->
<!--        </div>-->
<!--      </div>-->
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>



<div class="border">
  <button class="btn btn-md btn-outline-primary" (click)="open2(content2)">
    <i class="fa fa-user"></i>Add your Mood and Playlist ?</button>
</div>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Enter Mood</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="mood">Mood</label>
        <div class="input-group">
          <input id="mood1" name="mood" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="fitevent">Event(*)</label>
        <div class="input-group">
          <input id="fitevent" name="fitevent" class="form-control" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="playlist">Playlist(*)</label>
        <div class="input-group">
          <input id="playlist" name="playlist" class="form-control" ngModel>
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>










<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>FitEvent</th>
      <th>Playlist Name</th>
      <th>Playlist ID</th>
      <th>Playlist Description</th>
      <th>Redirected URL</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr><a href="/displaymood">{{message}}</a></tr>-->
    <tr *ngFor="let data of responsedata">
      <td><span>{{data.event}}</span></td>
      <td><span>{{data.name}}</span></td>
      <td><span>{{data.id}}</span></td>
      <td><span><a>{{data.description}}</a></span></td>
      <td><span><a href={{data.external_urls.spotify}} target="_blank">>Go to Playlist</a></span></td>
      <td><span><img src={{data.image_url}} alt={{data.name}} width="80"
                     height="80"></span></td>
    </tr>
    <tr><a href="/displaymood">{{message}}</a></tr>
    </tbody>
  </table>
</div>

